body{
    direction: rtl;
}
.logo{
    margin-right: 100px;
    /* background-position: 50%; */
}
@media (max-width:1100px){
    .logo{
        margin-right: 20px;
    }
        .collapse{
            margin-right: -100px !important;
        }
}
.navbar-toggler{
    position: absolute !important;
    top: 30px;
    left: 20px;

}
.login a{
    padding-right: 2px !important;
}
.for_slick_slider{
    direction: ltr;
}
footer div:nth-of-type(2) p::before{
    margin: 0 0 0 5px !important;
}
footer div:nth-of-type(3) p::before{
    margin: 0 0 0 5px !important;
}
.bookcourses{
    direction: ltr;
}

@media (max-width:970px){

    .navbar-nav{
        width: 200px !important;
    }
}
.owl-carousel{
        direction: ltr;
}