*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    background: #efefef;
    scroll-behavior: smooth;
    color: #1C2B4E;
    background: white;
    font-family: Regular;
    /* background: #1C2B4E; */
}







.img-fluid{
width: 100%;

}
/* Nav */
nav{

    position: sticky !important;
    top: 0 !important;
    display: flex;
    justify-content: space-around;
    transition:all 0.5s !important;
    z-index: 99999999;
    /* overflow: hidden !important; */
    width: 100%;
    background: #011C3A !important;
    
}

@media (min-width:1220px){
    nav{
        height: 75px !important;
    }
}
/* sticky nav */
/* .sticky{
    position: sticky;
    top: 0;
    z-index: 9999999;
    width: 100% !important;
    background: rgb(255, 255, 255 , 0.96) !important;
    
} */


.navbar-expand-lg {
    background: #001730 !important;
}
.logo{
    margin-left: 100px;
    /* background-position: 50%; */
}

.logo img{
    width: 150px;
    height: 70px;
}
.nav-link{
    color: white !important;
    font-weight: bold;
    transition: 0.25s;
    font-weight: 400;
}
.nav-link:hover{
    color: #e20f33 !important;
    border-bottom: 1px solid #e20f33;
    /* margin-top: 1px; */
}
.navbar-nav{
    width: 100% !important;
    margin: 0 auto;

}
.nav-item{
    margin: 0 10px;
    padding: 23px 10px;
    white-space: nowrap;
}
.container-fluid{
    width: 70%;
    margin-left: 20px !important;
}
.login{
    margin-left: 80px;
    display: block;
    padding: 25px 15px;
    
}
.login a{
    display: flex;
    justify-content: center;
    width: 80px;
    border-radius: 25px;
    background: white;
    color: #008cfc !important;
    font-weight: 500;
    font-size: 14px;
}
.login:hover{
    /* border: 1px solid black !important; */
}
.login a:hover{
    color: white !important;
    background: #008cfc;
    border: 0 !important;
}
.collapse{
    margin-left: 15% !important;
}







@media (max-width:1280px){
    .login {
        margin-left: 0;
    }
    .logo{
        margin-left: 10px;
    }
}
@media (max-width:1176px){
    .collapse{
        margin-left: 30px !important;
    }
}


.carousel-item p{

    margin-right: 500px;
}
.carousel-item h1{

    margin-right: 500px;
    margin-bottom: 250px;
}

.navbar-toggler{
    position: absolute !important;
    top: 30px;
    right: 20px;
    background: white;
}



/* @media(max-width:1140px)  {

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-collapse {
        overflow-x: visible !important;
    }

    .navbar-collapse.in {
      overflow-y: auto !important;
    }

    .collapse.in {
      display: block !important;
    }
    .navbar-toggler{
        display: block !important;
    }
}
 */
/* @media(max-width:1140px){
    .container-fluid{
    transform: translate(70% , -50px);
}
} */





/* intro Page */
.intro-section{
    background-image: url("../PHOTOS/intro-background.jpg");
    background-color: rgb(1 28 58);
    background-size: cover;
    background-position: 50% 50%;
    color: white;
    height: 700px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-section .spot-background {
    width: 100%;
    height: 100%;
    background: url("../PHOTOS/intro-background-2.png") ;
    background-position: center center;
    background-size: cover;
    /* background-color: #0D2743; */
    opacity: 0.05;
    position: absolute;
    top: 0;
    left: 0;

}

.intro-section .intro-containter{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
}
.intro-section .intro-containter .intro-text{
    padding-top: 20px;
}
.intro-section .intro-containter .intro-text h4{
    color: #f1f1f1;
}
.intro-section .intro-containter .intro-text h1 {
    font-size: 50px;
    margin-top: 20px;
}
.intro-section .intro-containter .intro-text h1 span{
    color: #008CFC;
}
.intro-section .intro-containter .intro-text p{
    margin-top: 50px;
    color: #c1c1c1;
}
.intro-section .intro-containter .section-img img{
    width: 100%;
    height: 100%;
}
.intro-section .intro-containter .section-img{
    transform: translateX(-50px);
    opacity: 0;
    transition: 0.8s;
}
.intro-section .intro-containter .showimage{
    transform: translateX(0);
    opacity: 1;
}

@media (max-width:400px){
    .intro-section .intro-containter{
        overflow-x: hidden;
    }
    .intro-section .intro-containter .intro-text h1 {
        font-size: 30px;
    }
}
@media (max-width:768px){
    .intro-section .intro-containter .intro-text{
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media (max-width:992px) and (min-width:430px){
    .intro-section{
        padding-top: 200px;
        
    }

}
@media (max-width:1200px){
    .intro-section .intro-containter{
        justify-content: center;
    }
}
@media (min-width:992px){
    .intro-section{
        /* padding-top: 100px; */
    }
    .intro-section .intro-containter .intro-text{
        width: 570px;
    }
    .intro-section .intro-containter .section-img{
        width: 538px;
        margin-top: -50px;
    }
}





/* about-us */
.about-us{
    padding-top: 20px;
    padding-bottom: 200px;
    background-image: url("../PHOTOS/about-background.jpg");
    background-size: cover;
    background-position: 50% 52%;
    color: white;
    margin-top: -1px;
}
.about-us .thecont{
    background: #001730;
}
.about-us .thecont .about-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.about-us .thecont .about-box .box{
    height: 100%;
    background: #001730;
    padding: 20px 0;
    transition: 0.3s;
    cursor: pointer;
    transition: all 1s ease;
}
.about-us .thecont .about-box .box:hover{
    box-shadow: inset 0 100px 0 0 #e0e0e0;
    color: #fff;
}
.about-us .thecont .text-box{
    background: #1C2B4E;
    color:#ec5a5a;
    line-height: 1.8;
    position: relative;
    overflow: hidden;
    padding: 35px 40px 35px;
    transition: all 1s ease;
    height: fit-content;
    min-height: 300px;
}
.about-us .thecont .hidetextbox{
    height: 0;
    padding: 0;
    min-height: 0;
}
.about-us .thecont .text-box p{
    transform: translateX(0);
    opacity: 1;
    transition:all 0.5s ease;
    display: none;
    color: white;
    /* position: absolute; */
}
.about-us .thecont .text-box .absolute{
    position: absolute !important;
}
.about-us .thecont .about-box .box h5{
    text-align: center;
    color: #008CFC;
}
.selected-box{
    background: #1C2B4E !important;
    color: white !important;
    pointer-events: none;
}
.about-us .thecont .text-box .show-text{
    display: block;
    /* transform: translateX(0) !important;
    opacity: 1 !important; */
    /* position: absolute !important; */
    /* top: 20px;
    left: 20px; */
}


.thecont{
    margin: 0 auto;
}
@media (max-width:768px){
    .about-us .thecont .about-box .box{
        flex-basis: 100%;
    }
}
@media (max-width:992px) and (min-width:430px){
    .about-us{
        padding-top: 180px;
    }
}
@media (min-width:768px){
    .thecont{
        width: 726px;
    }
    .about-us .thecont .about-box .box{
        flex-basis: 100%;
    }
}
@media (min-width:992px){
    .thecont{
        width: 920px;
    }
    .about-us .thecont .about-box .box{
        flex-basis: 33.33%;
    }
}
@media (min-width:1200px){
    .thecont{
        width: 1170px;
    }
}










/* slider */
.carousel-item img{
    max-height: 600px;
}



/*  cards */
.container1{
    position:relative;
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
    background-image: url("../PHOTOS/about-background.jpg");
    background-size: cover;
    bottom:70px;

}
.card1{
    position:relative;
}

.card1 .face{
    height:200px;
    width:300px;
    transition:0.5s;
}

.card1 .face.face1{
    position:relative;
    background:#333;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:1;
    /*transform:translateY(100px);*/
}


.card1:hover .face.face1{
    background:#ff0057;
    transform:translateY(0);
}

.card1 .face.face1 .content{

    transition:0.5s;
}

.card1 .face.face1 .content img{
    max-width:100px;
}

.card1 .face.face1 .content h3{
    color:#0f93fc;
    text-align:center;
}

.card1:hover .face.face1 .content{
    opacity:1;
}

.card1 .face.face2{
    position:relative;
    background:#fff;
    padding:20px;
    display:flex;
    justify-content:center;
    box-sizing:border-box;
    box-shadow:0 20px 50px rgba(0,0,0,0.8);
    transform:translateY(-100px);
}

.card1:hover .face.face2{
    transform:translateY(0);
}

.card1 .face.face2 p{
    padding:0;
    margin:0;
    font-size: 18px;
}

.card1 .face.face2 a{
    margin:20px 0;
    display:inline-block;
    border:1px solid #333;
    color:#333;
    text-decoration:none;
    font-weight:900;
    padding:5px;
    transition:0.5s;
}

.card1 .face.face2 a:hover{
    background:#333;
    color:#fff;
}

.showcards{
    transform: translateX(0) !important;
    opacity: 1 !important;
}





/* about numbers */
.about-numbers{
    background-image: url("../PHOTOS/about-numbers.png");
    margin-top: -75px;
    background-repeat: no-repeat;
    background-position: 70% 70%;
    padding-top: 150px;
    padding-bottom: 150px;
}
.about-numbers .thecont{
    margin-top: 150px;
}
.about-numbers .thecont .space{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.about-numbers .thecont .space .headerandboxes{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.about-numbers .thecont .space .headerandboxes .heading{
    margin-top: 0px;
    color: rgb(0, 0, 0);
    
}
.about-numbers .thecont .space .headerandboxes .heading span{
    color: #1DA1F2;
}
.about-numbers .thecont .space .headerandboxes .boxescont{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    /* gap: 20px; */

}
.about-numbers .thecont .space .headerandboxes  .boxescont .box{
    border-radius: 20px;
    text-align: center;
    flex-basis: calc(50% - 10px);
    background: #001730;
    color: white;
    transition: 0.5s;
    margin-top: 20px;
}
.about-numbers .thecont .space .headerandboxes  .boxescont .box:hover{
    box-shadow: inset 0 170px 0 0 #cecccc59;
}
.about-numbers .thecont .space .headerandboxes  .boxescont .box img{
    width: 60px;
    height: 60px;
}
.about-numbers .thecont .space .number-img{
    width: 583px;
}
.about-numbers .thecont .space .number-img img{
    width: 100%;
}






@media (max-width:1200px){
    .about-numbers .thecont .space .headerandboxes  .boxescont .box{
        /* flex-basis: 33.33%; */
    }
    .about-numbers{
        background-position: 0% -50%;
    }
    .about-numbers .thecont .space .number-img{
        margin-top: 50px;
    }
}
@media (max-width:992px){
    .about-numbers .thecont .space .headerandboxes  .boxescont .box{
        flex-basis: 100%;
    }
    .about-numbers{
        background-position: 0% 0%;
    }
}





/* events */
.events{
    background-image: url("../PHOTOS/waves-end.png");
    background-position: 10% 45%;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
}
.events .evet-cont {
    width: calc(100% - 150px);
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.events .evet-cont .event-text{
    background: #1C2B4E;
    color: white;
    font-weight: bolder;
    flex-basis: 50%;
    padding: 20px 50px;
    height: fit-content;
    font-size: 18px;
    margin-top: 50px;
}

@media (max-width:405px){
    .events .evet-cont .event-image img{
        width: 100%;
    }
}
@media (max-width:950px){
    .events{
        margin-top: -100px;
    }
    .events .evet-cont{
        justify-content: center;
        width: calc(100% - 10px)
    }
    .events .evet-cont .event-text{
        flex-basis: 95%;
    }
}








/* courses in home page */
.spot-courses{
    background-image: url('../PHOTOS/coursesspot.png');
    
}
.courses{
    margin-top: -70px;
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-image: url("../PHOTOS/coursesbackground.jpg");
    background-size: cover;
    background-position: 50% 50%;
}
.courses a{
    display: block;
    display: flex;
    background: white;
    flex-direction: column;
    width: 280px;
    transform: translateY(60px);
    opacity: 0;
    transition: 0.7s;
    text-decoration: none;
    color: black;
    
}
.courses a{
    /* margin-top: 150px; */
}
.courses img{
    width: 100%;
    height: 300px;
    border-bottom: 1px solid black;
    transition: 0.5s;
}
.courses a .course-name{
    width: 100%;
    height: 76px;
    padding: 10px 10px;
    background: white;
    position: absolute;
    transition: 0.5s;
}
.courses a .course-name h5{
    text-align: center;
    color: #e20f33;
}

.showcourses{
    transform: translateY(0) !important;
    opacity: 1 !important;
}

@media (max-width:1150px) and (min-width:560px){
    .courses a{
        flex-basis: 35%;
        
    }
    .courses a:nth-of-type(3),.courses a:nth-of-type(4){
        margin-top: 100px;
    }
    .courses a .course-name{
        height: 80px;
    }
}
@media (max-width:559px){
    .courses a:not(:first-of-type){
        margin-top:110px;
    }
}






/* partners */

.thepartners{
    background-color: #011c3a;
    padding: 50px;
    margin-top: -1px;
}


.thepartners h2{
    width: fit-content;
    margin: 30px auto;
    margin-bottom: 30px;
    color: #1DA1F2;
}


.thepartners .no-js .owl-carousel,.thepartners .owl-carousel.owl-loaded{
    height: 200px;
    background: white;
    padding: 20px 10px;
    border-radius: 100px;
}


.partners > div{
    width: 300px;
    margin-top: 50px;

}
.partners img{
    width: 150px;
    height: 150px;

}


.partnersslider{
    width: 150px;
    height: 150px;
    margin: 0 auto;

}







.item{
    width: 150px;
    height: 150px;
}






/* footer */
footer{
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: space-evenly;
    align-items: flex-start;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}
footer .background{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url("../PHOTOS/coursesbackground.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-color: rgb(134, 41, 41);
}
footer .background div{
    background: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}


footer > .content h3{
    margin-bottom: 40px;
}
footer > .content{
    margin-top: 90px;
    width: 250px;
    height: 250px;
    padding: 15px;
    /* background: #232323; */
    z-index: 4;
    
}


footer .content:nth-of-type(2) img{
    width: 120px;
    height: 120px;
    margin:10px auto;
    
}



footer .content:nth-of-type(3) p a{
    color: white !important;
}
footer .content:nth-of-type(3) p:first-of-type::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f3c5";
    display: inline-block;
    margin-right: 10px;
}
footer .content:nth-of-type(3) p:nth-of-type(2)::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f1e4";

    display: inline-block;
    margin-right: 10px;
}
footer .content:nth-of-type(3) p:nth-of-type(3)::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f879";
    display: inline-block;
    margin-right: 10px;
}
footer .content:nth-of-type(3) p:nth-of-type(4)::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0e0";
    display: inline-block;
    margin-right: 10px;
}




footer .content:nth-of-type(4) a{
    color: white;
    text-decoration: none;
}
footer .content:nth-of-type(4) p:first-of-type::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f015";
    display: inline-block;
    margin-right: 10px;
}
footer div:nth-of-type(4) p:nth-of-type(2)::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f02d";
    display: inline-block;
    margin-right: 10px;
}
footer .content:nth-of-type(4) p:nth-of-type(3)::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f7d9";
    display: inline-block;
    margin-right: 10px;
}






footer .content:last-of-type div{
    display: flex;
}
footer .content:last-of-type i{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255 , 0.8);
    width: 35px;
    height: 35px;
    margin: 0 5px;
    border-radius: 50%;
    background: rgb(0, 0, 0 , 0.4);
    /*transform: translateY(50px);*/
    /*opacity: 0;*/
    transition: transform 0.72s,opacity 1s;
}
footer .content:last-of-type a:first-of-type i:hover{
    background: #4267B2;
}
footer .content:last-of-type a:nth-of-type(2) i:hover{
    background: #1DA1F2;
}
footer .content:last-of-type a:nth-of-type(3) i:hover{
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}
footer .content:last-of-type a:nth-of-type(4) i:hover{
    background: #2867B2;
}



/* animation on social media */
.showsocial{
    transform: translateY(0) !important;
    opacity: 1 !important;
}







/* filter Buttons */
.filter-buttons{
    padding-top: 100px;
    /* padding-bottom: 50px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background:   #001730; */
}
.filter-buttons button{
    all: unset;
    padding: 10px 25px;
    background: #253a6b;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.4s;
}
.filter-buttons .selected{
    background: white;
    color: black;
}

/* courses in training */
.course-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width:  calc(100% - 300px);
    padding-top: 70px;
    /* padding-bottom: 70px; */
    margin: 0 auto 70px;
    background: rgba(28, 43, 78, 0.877);
}
.course-container > div{
    width: 198px;
    height: 198px;
    margin:0 0 160px 80px;
    opacity: 0;
    transition: 0.5s;
}
.course-container > div img{
    width: 100%;
    height: 100%;
}
.course-container > div div{
    width: 100%;
    padding: 0 20px;
    background: rgb(0, 0, 0 , 0.5);
    transform: translateY(-100px);
    color: white;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.course-container > div div h6{
    max-height: 58px;
    overflow: hidden;
}
@media (max-width:900px){
    .course-container{
        width:  calc(100% - 10px);
        justify-content: center;
    }
    .course-container > div{
        width: 280px;
        height: 280px;
        margin:50px 40px;
    }
}

footer div:first-of-type img{
    width: 120px;
    height: 120px;
    margin:10px auto;
}
.course-container a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 40px;
    background: #e20f33;
    transform: translatey(-50px);

}
.course-container .courseinfo{
    display: none;
}

.showtrainingcourse{
    opacity: 1 !important;
}




/* h1 in training courses */
.trainingh1{
    max-width: 360px;
    text-align: center;
    margin: 70px auto;
    padding: 10px;
    border-bottom: 2px solid black;
}

.togglebutton{
    display: none;
}
.showcourse-info{
    visibility: visible;
    opacity: 1;
    transform: translate(-50%,-50%);
}

@media (max-width : 850px){
    .course-info {
        flex-direction: column;
    }
    footer div:first-of-type img{
        width: 120px;
        height: 120px;
        margin:10px auto;
    }
}





/* solution style */
.solutionimg{
    width: 100%;
    height: 300px;
    background-image: url('../PHOTOS/solution3.jpg');
    background-size:  cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
.solutionimg h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-family: 'Castoro', serif;
    width: 370px;
    text-align: center;
}
.solution{
    margin-top: 90px !important;

}
.solutionimgside{
    width: 150px;
    margin-left: 240px;
    margin-bottom: 90px !important;
    margin-top: 90px !important;

}

.thecover{
    width: 100%;
    height: 100%;
    background: rgb(0 23 48 / 30%);
}


.card {

    margin-bottom: 2rem;
    margin:50px auto !important;
}
.list-group-item{
    font-size: 20px !important;
    /* text-align:center; */
    cursor: pointer;
    transition: 0.3s;
    color: grey;
}
.list-group-item:hover{
    transform: translatex(15px);
    color:black;
}
.card img{
    width: 142px !important;
    height: 142px !important;
    margin-left: 60px;
}
.card-title{
    text-align:center;
}

@media (max-width:500px){
    .thesolutions > div{
        font-size: 25px;
        width: 100%;
    }
    footer div:first-of-type img{
        width: 120px;
        height: 120px;
        margin:10px auto;
    }
}

.consultingimg{
    width: 100%;
    height: 300px;
    background-image: url('../PHOTOS/solution3.jpg');
    background-size:  cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
.consultingimg h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-family: 'Castoro', serif;
    width: 370px;
    text-align: center;
}

.consultingimg .thecover{
    width: 100%;
    height: 100%;
    background: rgba(1, 24, 50, 0.3);
}


.theconsulting{
    width: 100%;
    margin: 50px auto;
    text-align: center;
    font-family: 'Castoro', serif;
}
.theconsulting > div{
    width: calc(100% - 100px);
    text-align: left;
    margin: 50px auto;
    font-size: 20px;
}
.theconsulting > div p{
    margin-top: 100px;
    color: white;
}







/* book courses */
.bookcourses{
    width: 100%;
    height: 930px;
    background-image: url('../PHOTOS/solution3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
.bookcourses .bookcover{
    width: 100%;
    height: 100%;
    background: rgb(1 17 35 / 80%);
    position: absolute;
    z-index: 2;
}
.thecontainer{
    color: white;
    width: 1140px;
    height: 600px;
    position: absolute;
    z-index: 3;
    /* top: 28%;
    left: 50%;*/
    transform: translatey(-100px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;


}
.bookcourses  .thecontainer>div{
    width: 1200px;
    padding-left: 70px;
    margin-top: 50px;
}
.bookcourses  .thecontainer>div:first-of-type h1{
    margin-bottom: 40px;
}
.bookcourses  .thecontainer>div:first-of-type p{
    margin-top: 20px;
    font-size: 18px;
    width: 1000px;
}
.bookcourses form{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.bookcourses form>div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bookcourses form>div:nth-of-type(2){
    margin-top: 20px;
}
.bookcourses form>div input{
    width: calc(50% - 20px);
    height: 50px;
    padding-left: 15px;
    background:inherit;
    color: white;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    outline: none;
}
.bookcourses form>div input::placeholder{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.bookcourses form>div select{
    width: calc(50% - 20px);
    background: inherit;
    color: white;
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    padding-left: 15px;
    font-weight: bold;
}
.bookcourses form>div select option{
    background: white;
    color: black;
    padding-left: 15px;
}
.bookcourses form textarea{
    resize: none;
    margin-top: 30px;
    height: 100px;
    color: white;
    font-size: 20px;
    background:inherit;
    padding-left: 15px;
    border: none;
    border-bottom: 2px solid white;
    font-weight: bold;
}
.bookcourses form textarea::placeholder{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.bookcourses form input[type="submit"]{
    margin-top: 20px;
    height: 50px;
    border-radius: 40px;
    color: white;
    background: rgb(1 17 35 / 70%);
    border: 1px solid rgb(1 17 35);
    font-weight: bold;
}



.cont{
    width: 900px;
    display: flex;
    justify-content: space-around;
    margin: 150px auto;
}
.cont div{
    background: #1C2B4E;
    width: 200px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
    height: 100px;
    line-height: 40px;
}
.cont div p{
    color: white;

}
.cont div i{
    margin-left: 5px;
}
.cont div span{
    color: white;
    font-size: 26px;
}
@media (max-width:1170px){
    .bookcourses  .thecontainer>div:first-of-type h1{
        width: 300px;
        text-align: center;
        margin: 20px auto;
    }
    footer div:first-of-type img{
        width: 120px;
        height: 120px;
        margin:10px auto;
    }
    .bookcourses  .thecontainer>div:first-of-type p{
        display: none;
    }
    .bookcourses form>div{
        flex-direction: column;
    }
    .bookcourses form>div input,.bookcourses form>div select{
        margin: 10px auto;
    }
    .bookcourses form textarea{
        width: 550px;
        margin: 10px auto;
        line-height: 50px;
    }
    .bookcourses form input[type="submit"]{
        width: 550px;
        margin: 15px auto;
    }
}

@media (max-width:581px){
    .bookcourses  .thecontainer>div:first-of-type h1{
        width: 240px;
        transform: translateX(-40px);
    }
    .bookcourses form>div input,.bookcourses form>div select,.bookcourses form textarea,.bookcourses form input[type="submit"]{
        width: 300px;
    }
    footer div:first-of-type img{
        width: 120px;
        height: 120px;
        margin:10px auto;
    }
}

.input-error {
    border: 1px solid red;

}
.result-error {
    color: red;
    /*margin-left: 522px;*/
    /*font-size: 20px;*/
    /*font-weight: bolder;*/
    /*margin-top: 80px;*/
   
}
.result-success {
    color: green;

}

.title{
    font-weight: bolder;
    font-size: 19px;
}